.contact-icon {
    transform: translateY(-3px);
}

.cate-icon img {
    max-width: 90%;
    cursor: pointer;
    transition: all 0.5s;
}

.cate-icon:hover img {
    transform: rotate(45deg);
}

.cate-title {
    border-bottom: 1px solid red;
}

.cate-title a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transform: translateX(0px);
}

.cate-title a:hover {
    color: yellow !important;
}

.cate-item {
    max-width: 200px;
    height: auto;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 7px;
    padding: 10px;
    transition: all0.25s ease-in-out;
}

.cate-item:hover {
    border: 1px solid orangered;
    border-radius: 7px;
    padding: 10px;
}

.products-area {
    justify-content: space-between;
}

.laptop {
    border-bottom: 1px solid #2dcddf;
}

.laptop a {
    background: #2dcddf;
}